[submodule ".registry"]
	path = .registry
	url = https://github.com/lmullen/universe
	shallow = true
	branch = HEAD
[submodule "genderdata"]
	path = genderdata
	url = https://github.com/lmullen/genderdata
	shallow = true
	registered = true
